<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-License-Identifier: GPL-2.0 -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>com.github.stewartallen.smsc95xx.driver</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.stewartallen.smsc95xx.driver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SMSC95xxDriver</string>
	<key>CFBundlePackageType</key>
	<string>DEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.36</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>DriverKit</string>
	</array>
	<key>CFBundleVersion</key>
	<string>56</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>EVB ethernet interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.github.stewartallen.smsc95xx.driver</string>
			<key>CFBundleIdentifierKernel</key>
			<string>com.apple.iokit.IOSkywalkFamily</string>
			<key>IOClass</key>
			<string>IOUserNetworkEthernet</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>IOUserClass</key>
			<string>SMSC95xxDriver</string>
			<key>IOUserServerName</key>
			<string>com.github.stewartallen.smsc95xx.driver</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>81</integer>
			<key>idVendor</key>
			<integer>6223</integer>
		</dict>
		<key>EVB-LAN8670-USB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.github.stewartallen.smsc95xx.driver</string>
			<key>CFBundleIdentifierKernel</key>
			<string>com.apple.kpi.iokit</string>
			<key>IOClass</key>
			<string>IOUserService</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOUserClass</key>
			<string>SMSC95xxUSBDevice</string>
			<key>IOUserServerName</key>
			<string>com.github.stewartallen.smsc95xx.driver</string>
			<key>idProduct</key>
			<integer>81</integer>
			<key>idVendor</key>
			<integer>6223</integer>
		</dict>
		<key>LAN9500A EEPROM loaded</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.github.stewartallen.smsc95xx.driver</string>
			<key>CFBundleIdentifierKernel</key>
			<string>com.apple.kpi.iokit</string>
			<key>IOClass</key>
			<string>IOUserService</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOUserClass</key>
			<string>SMSC95xxUSBDevice</string>
			<key>IOUserServerName</key>
			<string>com.github.stewartallen.smsc95xx.driver</string>
			<key>idProduct</key>
			<integer>39173</integer>
			<key>idVendor</key>
			<integer>1060</integer>
		</dict>
		<key>LAN9500A chip default</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.github.stewartallen.smsc95xx.driver</string>
			<key>CFBundleIdentifierKernel</key>
			<string>com.apple.kpi.iokit</string>
			<key>IOClass</key>
			<string>IOUserService</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOUserClass</key>
			<string>SMSC95xxUSBDevice</string>
			<key>IOUserServerName</key>
			<string>com.github.stewartallen.smsc95xx.driver</string>
			<key>idProduct</key>
			<integer>40448</integer>
			<key>idVendor</key>
			<integer>1060</integer>
		</dict>
		<key>LAN9500A ethernet interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.github.stewartallen.smsc95xx.driver</string>
			<key>CFBundleIdentifierKernel</key>
			<string>com.apple.iokit.IOSkywalkFamily</string>
			<key>IOClass</key>
			<string>IOUserNetworkEthernet</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>IOUserClass</key>
			<string>SMSC95xxDriver</string>
			<key>IOUserServerName</key>
			<string>com.github.stewartallen.smsc95xx.driver</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProductArray</key>
			<array>
				<integer>39173</integer>
				<integer>40448</integer>
			</array>
			<key>idVendor</key>
			<integer>1060</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2026 Stewart Allen. GPL-2.0. Derived from the Linux smsc95xx driver, Copyright (C) 2007-2008 SMSC.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOSkywalkFamily</key>
		<string>1.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>DriverKit</string>
	<key>OSBundleUsageDescription</key>
	<string>Drives Microchip/SMSC LAN9500A USB 2.0 Ethernet adapters, including 10BASE-T1S dongles.</string>
	<key>OSMinimumDriverKitVersion</key>
	<string>24.0</string>
</dict>
</plist>
